header {
    display: inline;
}

a {
    float: left;
    position: absolute;
    top: 2%;
    left: 1%;
}

#timer {
    float: right;
    position: fixed;
    top: 2%;
    right: 2%;
}

body {
    text-align: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#start {
    margin-top: 10%;

}

p {
    font-size: 120%;
}

#start-button {
    background-color: blueviolet;
    color: white;
}

a:hover {
    color: blue;
}

#play-again {
    position: fixed;
    left: 48.65%
}

#high-scores-button {
    position: fixed;
    left: 48.5%;
}

ol {

    list-style-position: inside;
    margin-left: -2%;
}

#high-scores-button {
    position: relative;
}

.hide {
    display: none;
}

